@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #272727;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

/*header*/

.header {
  min-height: 793px;
  background-image: url(../img/header/header-back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  /* height: 100px; */
  margin-bottom: 141px;
}

.logo {
  margin-right: 30px;
}

.nav__list {
  display: flex;
}

.nav__list-item + .nav__list-item {
  margin-left: 50px;
}

.nav__list-link {
  color: #fff;
  opacity: 0.5;
  transition: all 0.2s;
}
.nav__list-link:hover {
  opacity: 1;
}

.user-nav {
  margin-left: 30px;
}

.user-nav__link {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.user-nav__link + .user-nav__link {
  margin-left: 44px;
  color: #250f8a;
  padding: 8px 43px;
  border-radius: 20px;
  background-color: #fff;
}

.header__slider-content {
  display: flex;
  justify-content: space-between;
}

.header__slider-info {
  color: #fff;
  max-width: 506px;
}

.header__slider-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 10px;
}

.header__slider-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  margin-bottom: 60px;
}

.header__slider-btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #250f8a;
  padding: 13px 39px;
  background: #ffca00;
  border-radius: 25px;
}

.header__slider-img {
  margin: 10px 80px 0 0;
}

.header-dots {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-dots button {
  border: none;
  background-color: #fff;
  opacity: 0.5;
  font-size: 0;
  padding: 0;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  cursor: pointer;
  outline: none;
  margin: 10px auto;
  display: block;
}

.header-dots .slick-active button {
  width: 15px;
  opacity: 1;
}

/*specialization*/

.specialization {
  padding: 55px 0 104px;
  background-image: url(../img/specialization/specialization-bg.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.specialization__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialization__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
  margin-bottom: 96px;
}

.specialization__items {
  display: flex;
  justify-content: space-between;
}

.specialization__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
}

.specialization__item img {
  height: 175px;
  margin-bottom: 23px;
}

.specialization__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #202020;
  margin-bottom: 8px;
}

.specialization__item-text {
  text-align: center;
  opacity: 0.7;
}

/*direction*/

.direction {
  padding: 64px 0 55px;
  background-color: #f4f9fd;
  background-image: url(../img/direction/direction-bg.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.direction__item {
  display: flex;
  justify-content: space-between;
}

.direction__item + .direction__item {
  padding-top: 76px;
}

.direction__item-content {
  max-width: 455px;
  padding-top: 60px;
  background-image: url(../img/direction/title-bg-1.svg);
  background-repeat: no-repeat;
  background-position: 22px 76px;
}

.direction__item--right .direction__item-content {
  background-image: url(../img/direction/title-bg-2.svg);
  background-repeat: no-repeat;
  background-position: 30px 135px;
}

.direction__item--right .direction__item-content {
  order: 1;
}

.direction__item--bg {
  background-image: url(../img/direction/title-bg-3.svg);
  background-repeat: no-repeat;
  background-position: 0px 105px;
}

.direction__item-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
  margin-bottom: 27px;
  padding: 68px 0 15px 48px;
}

.direction__item-text {
  padding-left: 48px;
}

.direction__item-text p {
  margin: 12px 0;
}

/*reviews*/

.reviews {
  background-image: url(../img/reviews/reviews-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 38px 0 82px;
}

.reviews__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 48px;
  max-width: 384px;
}

.reviews__items {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  width: 300px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 35px 20px;
  color: #fff;
}

.reviews__item-head {
  margin-bottom: 13px;
  display: flex;
}
.reviews__item-head img {
  border-radius: 50%;
  margin-right: 20px;
}

.reviews__item-name {
  font-weight: 600;
}

.reviews__item-prof {
  opacity: 0.5;
}

.reviews__item-text {
  text-align: center;
  padding-top: 39px;
  position: relative;
}
.reviews__item-text::before {
  content: "“";
  font-size: 40px;
  line-height: 55px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/*footers*/

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 17px;
}

.footer__list {
  display: flex;
}

.footer__list-item + .footer__list-item {
  padding-left: 20px;
}

.footer__list-link {
  color: #272727;
}
